.toe-intro-page {
  font-family: 'OpenSans-Regular', sans-serif !important;

  .toe-modal-confirm {
    width: 445px;

    .toe-modal__foot,
    .toe-modal__head {
      border: none !important;
    }
  }

  .toe-layout-user-page-container__body {
    background-color: #d4d4d4;
  }

  .exam-content {
    border-radius: 8px;
    background-image: url('../../../../assets/images/boy.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .exam-info {
    transform: translateX(130px);
  }

  .btn-start {
    transform: translateX(66px);
  }
}

.toe-in-testing {
  background-color: #d4d4d4;
}
