.layout-main {
  background: url('../../../../assets/images/bg-exam-page.png') no-repeat right
    top;
  margin-top: 70px;
  width: 100%;
  margin-bottom: 24px;
}

.page-title {
  margin-bottom: 58px;
}

.home-t {
  color: #080940;
  font-weight: 900;
  padding: 85px 0 70px 0;
  font-size: 70px;
  width: 100%;
}

.sub-title h3 {
  text-transform: uppercase;
  text-align: center;
}

.toeic-item.toeic-item-1 {
  position: relative;
  overflow: visible;
  padding: 0;
}

.toeic-item {
  background-color: #e2ecf2;
  border-radius: 20px;
  padding: 0 10px 0 0;
  overflow: hidden;
}

.toeic-item-2 {
  margin-top: 15px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #873c3c;
}

.image-center {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.toeic-item.toeic-item-2.latest-mini-test {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
  padding-right: 40px;
}

.toeic-item-1 .link-wrap,
.toeic-item-2 {
  border-radius: 50px;
  transition: box-shadow 0.2s linear;
}

.toeic-item-1 .link-wrap:hover,
.toeic-item-2:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.toeic-item .image {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.toeic-item .image img {
  border-radius: 50%;
  max-width: 100%;
}

.toeic-item .content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0 10px 10px;
}

.toeic-item .item-title {
  font-size: 15px;
  line-height: 1.3;
  margin: 0 0 2px;
}

.toeic-item .desc {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0 0 10px;
}

.toeic-item.toeic-item-1 {
  position: relative;
  overflow: visible;
  padding: 0;
}

.toeic-item.toeic-item-1 .image {
  border: 0;
}

.toeic-item.toeic-item-1 .content {
  padding-left: 10px;
  padding-right: 5px;
}

.toeic-item.toeic-item-1 .pre-result {
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
}

.toeic-item.toeic-item-1 .item-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.toeic-item.toeic-item-1 a,
.toeic-item.toeic-item-2 a {
  text-decoration: none;
  display: block;
}

.toeic-item.toeic-item-2 {
  padding: 8px 10px 10px 30px;
}

.toeic-item.toeic-item-2 .calendar {
  float: left;
}

.toeic-item.toeic-item-2 .content {
  padding: 6px 0 0 15px;
  position: relative;
}

.toeic-item.toeic-item-2 .content .status-label,
.toeic-item.toeic-item-1 .content .status-label {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
}

.toeic-item.toeic-item-1 .content .status-label {
  top: 57px;
  right: 10px;
  width: 42px;
  height: 35px;
}

.testfullwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 360px;
}

.testfullwrap_one {
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 4px solid #003471;
}

.testfull-one {
  font-size: 30px;
}

.testfullonetwo {
  color: #003471;
  display: block;
}

.testfullwrap_one {
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 4px solid #003471;
}

.testfull-two {
  font-size: 20px;
  margin-top: 15px;
}

.testfullonetwo {
  color: #003471;
  display: block;
}

.footer {
  margin-top: 350px;
  background-color: #080940;
}
