.toe-dropdown {
  height: 40px;
  width: 100%;
  box-shadow: none !important;
  font-family: 'OpenSans-Medium', sans-serif !important;
  border-color: #bbbbbb !important;

  &__wrapper {
    width: 100%;
  }

  &__wrapper-label {
    margin-bottom: 8px;
  }

  &:hover {
    &:not(.p-disabled) {
      border-color: #43c1c9 !important;
    }
  }

  &.p-inputwrapper-focus {
    &:not(.p-disabled) {
      border-color: #43c1c9 !important;
    }
  }

  & .p-dropdown-panel.p-dropdown-items.p-dropdown-item {
    padding: 0;

    &.p-highlight {
      background-color: #bbbbbb !important;
    }
  }

  & .p-inputtext {
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'OpenSans-Regular', sans-serif;
  }

  .p-dropdown-trigger {
    width: 40px;
  }

  .p-dropdown-trigger-icon {
    font-size: 12px;
  }

  .p-dropdown-clear-icon {
    font-size: 12px;
  }

  .pi {
    font-size: 12px;
  }

  .p-dropdown {
    border-color: #bbbbbb;

    &-item {
      &__value--prefix {
        .p-dropdown-item__value-display {
          font-family: 'OpenSans-SemiBold', sans-serif !important;
        }
      }
    }
  }
}

.p-dropdown-panel {
  & .p-dropdown-filter {
    &.p-inputtext {
      padding: 8px 16px;
      font-size: 14px;
      height: 40px;
      width: 100%;
      box-shadow: none !important;
      font-family: 'OpenSans-Regular', sans-serif !important;

      &::placeholder {
        font-size: 12px;
        color: #bbbbbb;
      }

      &::-moz-placeholder {
        font-size: 12px;
        color: #bbbbbb;
      }
    }
  }

  .p-dropdown-filter-container {
    .p-inputtext {
      height: 32px;

      &:hover {
        border-color: #43c1c9;
      }

      &:focus {
        border-color: #43c1c9;
      }
    }
  }
}
