@keyframes main-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(0px);
  }
}

.toe-label-validate {
  color: rgb(255, 28, 28);
  font-size: 12px;
  margin-top: 4px;
  background-color: whitesmoke;
  padding: 2px 2px;
  border-radius: 2px;
  line-height: 2;
}

.toe-control-validate {
  border-color: red !important;

  input {
    border-color: red !important;
  }
}

.ant-tooltip {
  font-size: 14px;

  .ant-tooltip-inner {
    border-radius: 8px;
  }
}

*::-moz-selection {
  background: #5edce6;
}

*::selection {
  background: #5edce6;
}

.p-placeholder {
  font-size: 12px !important;
  color: #bbbbbb !important;
}
